
{% extends 'base.html' %}

{% block content %}
<title>Enter new password</title>





    <!-- Content -->
    <div id="content" class="colM">

        <h1>Enter new password</h1>
    </div>




<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form class="container" method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">

        <label  for="id_new_password1">New password:</label>
        <input class="form-control" type="password" name="new_password1" required id="id_new_password1">
    </div>
    <div class="form-row field-password2">

        <label for="id_new_password2">Confirm password:</label>
        <input class="form-control" type="password" name="new_password2" required id="id_new_password2">
    </div><br>
    <button class="btn btn-lg btn-primary" value="Change my password" type="submit">Change Password</button>
</fieldset>
</form>
{% endblock %}